*#*#
*.#*
*.swm
*.swn
*.swk
*.swl
*.swo
*.swp
*.ipr
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
.DS_Store
.cache
.classpath
.ensime
.ensime_cache/
.ensime_lucene
.generated-mima*
.idea/
.idea_modules/
.project
.scala_dependencies
.settings
/lib/
project/project
project/target
conf/*.cmd
conf/*.conf
conf/*.properties
conf/*.sh
conf/*.xml
log/
logs/
out/
reports/
target/
work/

